body {
  background-color: rgb(53, 138, 131);
}

h1,
h2,
h3,
h4 {
  color: white;
}

.App {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
  float: right;
}

.list-item {
  display: inline-block;
}
